
.backDrop {
    padding: 10px;
    border-radius: 10px;
    border-width: .5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: rgb(41, 41, 41);
    background-image: radial-gradient(rgb(88, 88, 88), rgb(0, 0, 0));
    padding-left: 30px;
    padding-right: 30px;
}

.logoMain {
    height: 275px;
    width: auto;
    margin: 20px 50px 50px 50px;
}

.cardName {
    font-size: 25px;
    margin: 20px 20px 30px 20px;
    color: white;
    font-weight: lighter;
    letter-spacing: 3px;
}

.bottomWrapper {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 1px;
    border-radius: 15px;
    background-image: radial-gradient(rgb(108, 108, 108), rgb(61, 61, 61));
}

.svgImage {
    height: 40px;
    width: auto;
    margin: 25px;
}

