.backDrop {
    padding: 10px;
    border-radius: 10px;
    border: solid;
    border-width: .5px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 25px;

}

.logoMain {
    height: 300px;
    width: auto;
    margin: 20px;
}

.cardName {
    font-size: 29px;
    margin: 20px;
}

.svgImage {
    height: 50px;
    width: auto;
    margin: 25px;
}

.card-bottom1 {
    margin-top: 50px; 
}