@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Hind', sans-serif; */

.icons {
    width: 60px;
    margin: 25px;
    padding-top: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.80s;
  }
  
  .col-lg-4:hover .overlay,
  .col-md-6:hover .overlay {
    opacity: 1;
  }
  
  .overlay-text {
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 30px;
  }

.navbar-toggler {
    border: none;
    width: 50px;
}

.row {
    max-width: 1200px;
}

.card-port {
    width: 325px;
    position: relative;
}
/* .background {
    background: rgb(38,38,38);
}

.background-nav {
    background: rgb(38,38,38);
   
} */

.contact-input {
    max-width: 400px;
}

.contact-box {
    max-width: 400px;
}

.contact-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
    text-align: left;
}
.contact-subheading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: left;
}

.contact-body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 13px;
    text-align: left;
}

.text-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 80px;
}

.text-subnav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    color: #88898C;
}

.text-subnav:hover {
    color: white;
    text-decoration: none;
}
.text-subnav:focus {
    color: white;
    text-decoration: none;
}
.text-subnav:active {
  color: white;
  text-decoration: none;
}

.text-subnav:clicked {
    color: grey;
    text-decoration: none;
    border-bottom: 2px solid white;
    text-align: center;
}

.about-image {
    position: relative;
    height: 500px;
    width: 500px;
    object-fit: scale-down;
    max-width: 100%;
  }

/* If the screen size is 1200px wide or more */
@media (min-width: 1200px) {
    .text-title {
      font-size: 90px;
    }
    .text-subnav {
        font-size: 15px;
    }
    .about-header {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 40px;
        text-align: left;
    }
    .about-subheader {
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 25px;
        text-align: left;
        font-weight: 200;
        text-align: left;
    }
    .about-subheader-2 {
        font-family: 'Montserrat', sans-serif;
        color: #88898C;
        font-size: 20px;
        text-align: left;
        font-weight: 200;
        text-align: left;
    }
    .about-body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        text-align: left;
        line-height: 30px;
        font-size: 15px;
        text-align: left;
    }
    .text-header {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 70px;
    }

    .text-secondary {
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
    }

  }
  /* If the screen size is smaller than 1200px */
  @media (max-width: 1199px) {
    .text-title {
      font-size: 60px;
    }
    .text-subnav {
        font-size: 17px;
    }
    .about-header {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 40px;
        text-align: left;
    }
    .about-subheader {
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 15px;
        font-weight: 200;
        text-align: left;
    }
    .about-subheader-2 {
        font-family: 'Montserrat', sans-serif;
        color: #88898C;
        font-size: 12px;
        font-weight: 200;
        text-align: left;
    }
    .about-body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        line-height: 25px;
        font-size: 12px;
        text-align: left;
    }
    .about-image {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        line-height: 30px;
        font-size: 15px;
        object-fit: scale-down;
        max-width: 100%;
    }
    .text-header {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 50px;
    }
    .text-secondary {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
    }
}

  @media (max-width: 800px) {
    .text-header {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 35px;
    }
    .text-secondary {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }
  }

/* If the screen size is smaller than 1200px */
@media (max-width: 600px) {
    .text-title {
        font-size: 40px;
    }
    .text-subnav {
        font-size: 17px;
    }
    .about-header {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 35px;
        text-align: left;
    }
    .about-subheader {
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 20px;
        font-weight: 200;
        text-align: left;
    }
    .about-subheader-2 {
        font-family: 'Montserrat', sans-serif;
        color: #88898C;
        font-size: 15px;
        font-weight: 200;
        text-align: left;
    }
    .about-body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        line-height: 25px;
        font-size: 12px;
        text-align: left;
    }
    .text-header {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 30px;
    }
    .text-secondary {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }
}

.grey {
    color:#88898C;
}

.top-nav {
    font-family: 'Hind', sans-serif;
}

.about-container {
    background-color: #1C2026;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}


.blog-container {
    background-color: dark;
    /* box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px; */
}
.blog-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.blog-sub-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: left;
}

.blog-sub-header2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: left;
}

.blog-body-q {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: left;
    line-height: 35px;
}

.blog-body {
    font-family: 'Montserrat', sans-serif;
    color: #A4A5A6;
    font-size: 16;
    text-align: left;
    font-weight: 200;
}